
.base-block {
   -fx-background-color: red;
}

.section-head {
	-fx-font-family: "Good Fellow";
	-fx-text-fill: derive(wood, +75%);
	-fx-effect: dropshadow( one-pass-box , white , 1 , 0.7 , 0 , 0 );
}

.navigation-area .stock-button .font-icon-text {
	-fx-fill: white;
}
.card-tile .back {
  /* VBox */
} 

.character-view-screen .section-block {
  -fx-pref-width: 300px;
  -ffx-background-color: lightbrown;
}

.text {
	-fx-text-fill: text-primary;
}

.dialog-outside {
	-fx-background-color: rgba(0,0,0, 0.8);
	-fx-opacity: 1;
}
.content {
	-fx-border-color: dark;
	-fx-padding: 0;
	-fx-insets: 4px;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-ffx-background-color: lightbrown;
}
.section-bar .label {
	-fx-text-fill: black;
}
.section-bar .font-icon-text {
	-fx-fill: darker;
}

/*
 * Tables
 */


.table-view {
	-ffx-background-color: lightbrown;
  	-fx-text-fill: black;
	-fx-padding: 2px;
}
.table-view .column-header {
	-fx-background-color: dark;
}
.table-view .column-header .label {
	-fx-text-fill: light;
    -fx-font-weight: bold;
}
.table-cell {
  -fx-alignment: center-left;
}
.table-row-cell {
  -fx-background-color: transparent;
}
.table-row-cell:odd {
/*	-fx-background-color: derive(background, -10%); */
   -fx-background-color: rgba(0, 0, 0, 0.1);
}
.table-row-cell:selected {
   -fx-background-color: orange; 
   -fx-text-background-color: white;
}
.table-row-cell:odd:selected {
	-fx-background-color: orange;
}

.list-cell {
    -fx-text-fill: white;
}
.list-cell:even {
   -fx-background-color: transparent;
}
.list-cell:odd {
/*	-fx-background-color: derive(background, -10%); */
   -fx-background-color: rgba(0, 0, 0, 0.1);
}
.list-cell:selected {
   -fx-background-color: orange; 
   -fx-text-background-color: white;
}
.list-cell:odd:selected {
	-fx-background-color: orange;
}

.odd {
	-fx-background-color: derive(background, -10%);
	-fx-padding: 3 8 3 8;
}

.even {
	-fx-background-color: transparent;
	-fx-padding: 3 8 3 8;
}

.gridsep {
	-fx-background-color: transparent;
	-fx-border-color: dark;
	-fx-border-width: 0 2 0 2;
}


/*
 * Some common styles
 */

.selected {
  -fx-background-color: dark;
  -fx-text-fill: light;
}
.selected .label {
  -fx-text-fill: light;
}
.bordered {
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 1px;
}
.invalid-data {
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-width: 2px;
}


.content .glow {
	-fx-effect: dropshadow(three-pass-box, wood, 10, 1, 0, 0);
}

#resources #available {
  -fx-pref-width: 18em;
}
#resources #selected {
  -fx-pref-width: 25em;
}
#resources #info {
  -fx-pref-width: 20em;
  -fx-padding: 0.5em;
}
.content .section-head {
  -fx-text-fill: wood;
}
.resourcevalue-list-cell .content {
  -fx-padding: 0.5em;
}
.resourcevalue-list-cell:odd {
   -fx-background-color: transparent;
}

  