@font-face {
	font-family: 'Trinigan FG';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/trinigan.ttf');
}

.root {
    lightbrown: rgb(198,187,155);
    darkgreen: #24382e;
    -fx-base: lightbrown;
    -fx-base-semitrans: rgba(198,187,155, 0.5);
    wood: rgb(107,65,23);
    dark: derive(wood, -50%);
    darker: derive(wood, -25%);
    -fx-darker: derive(wood, -25%);
    -fx-lighter: derive(wood, +25%);
    lighter: derive(wood, +25%);
    light: derive(wood, +50%);
    very-light: derive(wood, +75%);
    -fx-dark-text-color: black;
    -fx-mid-text-color: derive(wood, -75%);
    -fx-light-text-color: black;
    -fx-c3olor: darker;
    -fx-co3ntrol-inner-background: lightbrown;
}

/*******************************
 * Character Document
 *******************************/
.character-document-view-grid {
   -fx-background-color: transparent;
}
.character-document-view-scroll {
   -fx-background-color: transparent;
}
.character-document-view-layout {
}
.DISABLE-character-document-view-buffer-left {
   -fx-min-width: 2em;
   -fx-background-color: transparent;
}
.DISABLE-character-document-view-buffer-right {
   -fx-min-width: 2em;
   -fx-background-color: transparent;
}

/** Section title */
.character-document-view-title {
  -fx-background-image: url("../images/header_background.png");
  -fx-font-family: "Trinigan FG", serif;
  -fx-fill: very-light;
  -fx-background-size: 100 103;
  -fx-background-repeat: repeat-x;
  -fx-background-color: wood;
  -fx-max-width: infinity;
  -fx-text-fill: white;
  -fx-font-size: 200%;
  -fx-padding: 0.5em;
  -fx-max-width: infinity;
}

.character-document-view-todos {
  -fx-max-width: 8em;
}
.character-document-view-content {
  -fx-background-color: -fx-base;
  -fx-border-width: 1px;
  -fx-border-color: -fx-darker;
}
.character-document-view-description {
  -fx-background-color: transparent;
  -fx-padding: 0.2em;
  -fx-max-width: 20em;
  -fx-min-width: 15em;
}
.character-document-view-description .description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-width:3;
  -fx-padding: 0.5em;
-fx-border-color: transparent;
}
.description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
-fx-background-radius: 20;
-fx-border-radius: 20;
-fx-border-width:3;
  -fx-padding: 0.5em;
-fx-border-color: transparent;
}

.DISABLE-navigation-view-title .label {
  -fx-text-fill: white;
}

.command-bar {
  -fx-background-color: transparent;
  -fx-border-color: black;
}
.command-bar .label {
  -fx-text-fill: black;
}
.navigation-view-heading-line .label {
  -fx-text-fill: black;
}

.talent-screen  .list-view {
    -fx-background-color: lightbrown;
}
.talent-screen  .list-heading {
    -fx-text-fill: white;
}
.equipment-screen  .list-heading {
    -fx-text-fill: white;
}
.resource-screen  .three-column-pane .title {
    -fx-text-fill: white;
}

.screen {
   -fx-background-image: url("../images/background2.png");
   -fx-background-color: -fx-base;
   -fx-background-size: cover;
}

.heading-area {
	-fx-text-fill: white;
	-fx-font-family: "Trinigan FG", serif;
}

.navigation-area {
  -fx-background-image: url("../data/space1889/logo_hochkant.png");
  -fx-background-position: center bottom;
  -fx-min-width: 120px;
}
.navigation-area .font-icon-text {
	-fx-fill: white;
}

.action-area {
	-fx-background-color: dark;
}

.action-area .font-icon-text {
	-fx-fill: derive(wood, +75%);
}

.dialog-line {
   -fx-background-color: white;
}

.dialog-line .button {
	-fx-text-fill: -fx-dark-text-color;
	-fx-fill: red;
}

/*
 * Cards
 */

.card-tile {
  -fx-pref-width: 14em;
  -fx-min-height: 14em;
}
.card-tile .front {
  /* Labeled */
  -fx-background-color: green;
  -fx-alignment: center;
}
.card-tile #Attributes .front {
  -fx-background-color: wood;
}
.card-tile #Skills .front {
  -fx-background-color: lighter;
}
.card-tile #Resources .front {
  -fx-background-color: light;
}
.card-tile #Development .front {
  -fx-background-color: wood;
}
.card-tile #Talents .front {
  -fx-background-color: lighter;
}
.card-tile #Equipment .front {
  -fx-background-color: light;
}
.card-tile #Notes .front {
  -fx-background-color: wood;
}

.drop-target {
  -fx-scale-x: 0.8;
  -fx-scale-y: 0.8;
}

/*
 * Section bar
 */

.section-bar {
	-fx-background-color: linear-gradient(
	    derive(-fx-base, -25%),
	    -fx-base,
	    derive(-fx-base, +25%)
     );
    -fx-background-radius: 15 15 15 15;
	-fx-padding: 0 4 4 4;
	-fx-border-color: wood;
	-fx-border-width: 10px;
	-fx-border-radius: 15 15 15 15;
    -fx-border-insets: 0, 20;
	-fx-border-style: solid;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 10, 0.5, 5, 5);
	-fx-effect: innershadow(three-pass-box, rgba(1, 1, 1, 0.65), 7, 0.5, 0.0, 0.0);
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.65), 7, 0.5, 0.0, 0.0);
}

/*
 * Table
 */
.table-view {
    -fx-background-color: derive(lightbrown, +25%);
    -fx-text-fill: dark;
    -fx-padding: 2px;
    -fx-selection-bar: orange; 
    -fx-selection-bar-non-focused: derive(orange, +50%);
}
.table-head {
	-fx-background-color: dark;
  	-fx-text-fill: light;
	-fx-padding: 2px;
}
.table-view .column-header {
    -fx-background-color: dark;
}
.table .label {
	-fx-padding: 2px;
}
.table-cell:empty {
    -fx-background-color: derive(lightbrown, +25%);
}
.table-cell:filled:hover {
    -fx-background-color: derive(lightbrown, -25%);
}
.table-view .column-header .label {
	-fx-text-fill: light;
    -fx-font-weight: bold;
}
.table-row:hover {
    -fx-background-color: red;
}
.table-column:selected {
    -fx-background-color: orange;
}
.table-column:selected:rowhover {
    -fx-background-color: derive(orange, -25%);
}
.table-column:rowhover {
    -fx-background-color: derive(lightbrown, -25%);
}

/*
 * Tree Table
 */
.tree-table-view {
	-fx-background-color: lightbrown;
  	-fx-text-fill: dark;
	-fx-padding: 2px;
}
.tree-table-view-wizard {
	-fx-background-color: white;
  	-fx-text-fill: dark;
}
.tree-table-view .column-header {
	-fx-background-color: dark;
}
.tree-table-view .column-header .label {
	-fx-text-fill: light;
    -fx-font-weight: bold;
}
.tree-table-view-wizard .column-header .label {
	-fx-text-fill: white;
}
.tree-table-cell {
  -fx-alignment: center-left;
}
.tree-table-row-cell {
  -fx-background-color: transparent;
}
.tree-table-row-cell:hover {
    -fx-background-color: derive(lightbrown, -25%);
}
.tree-table-row-cell:selected {
   -fx-background-color: orange;
   -fx-text-background-color: white;
}
.tree-table-row-cell:selected:hover {
   -fx-background-color: derive(orange, -25%);
   -fx-text-background-color: white;
}
.tree-table-row-cell:odd {
   -fx-background-color: rgba(0, 0, 0, 0.1);
}
.tree-table-row-cell:odd:hover {
    -fx-background-color: derive(lightbrown, -25%);
}
.tree-table-row-cell:odd:selected {
	-fx-background-color: orange;
}
.tree-table-row-cell:odd:selected:hover {
    -fx-background-color: derive(orange, -25%);
}
.tree-table-view .column-resize-line {
	-fx-visibility: yes;
}
/*
 * List
 */
.list-view {
    -fx-padding: 2px;
}
.list-view .virtual-flow{
    -fx-background-color: derive(lightbrown, +25%);
}
.list-cell:empty {
    -fx-background-color: transparent;
}
.list-cell:empty:hover {
    -fx-background-color: transparent;
}
.list-cell:filled {
    -fx-background-color: lightbrown;
    -fx-border-width: 2px 3px 1px 3px;
    -fx-border-color: derive(lightbrown, +25%);
}
.list-cell:hover {
    -fx-background-color: derive(lightbrown, -25%);
}
.list-cell:selected {
    -fx-background-color: orange;
}
.list-cell:selected:hover {
    -fx-background-color: derive(orange, -25%);
}



.flip-icon {
	-fx-text-fill: white;
}
.content {
	-fx-border-color: dark;
	-fx-padding: 0;
	-fx-insets: 4px;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-background-color: -fx-base;
}

.skill-field .button {
	-fx-text-fill: -fx-dark-text-color;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0;
    -dfx-padding: 0.4em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,0H8V8H0Z";
}
.check-box:selected .mark {
    -fx-background-color: derive(wood, +85%) ;
}

.text-subheader {
	-fx-font-family: "Trinigan FG", serif;
}

.bordered {
	-fx-border-color: wood;
	-fx-border-width: 1px;
	-fx-border-style: solid;
}
#dndresource  .column1 {
    -fx-min-width: 12em;
    -fx-pref-width: 19em;
}
#dndresource  .column2 {
    -fx-min-width: 18em;
    -fx-pref-width: 26em;
    -fx-max-width: 32em;
}
#dndresource  .resourcevalue-list-cell {
    -fx-min-width: 17em;
    -fx-pref-width: 25em;
    -fx-max-width: 31em;
}
#dndresource .column3 {
    -fx-max-width: 26em;
}

